<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FLask</title>
</head>
<body style="padding: 0; margin: 0">
  <h1 style="background-color: cadetblue;">Jinja2 for html</h1>
  <h1 style="background-color: chartreuse;">{{ n }}</h1>
  <table>
    {% for prod in p %}
    <tr>
      <td>{{ prod.nome }}</td>
      <td>{{ prod.preço }}</td>
    </tr>
    {% endfor %}
  </table>

</body>
</html>